<mat-toolbar color="primary">
  <div class="content">
    <a href="">
      <span>ngx-aspect-ratio</span>
      <a mat-icon-button>
        <mat-icon svgIcon="github">github</mat-icon>
      </a>
    </a>
  </div>
</mat-toolbar>


<div class="content">
  <mat-card style="margin-top: 20px">
    <mat-card-content>
      <div class="content">

        <p style="max-width: 700px">
          Angular component container that maintains aspect ratio when responsive or changing the width of the parent.
          Convenient to use for inserting videos, photos or other content for which you need to maintain aspect
          ratio.
        </p>

        <form>
          <mat-form-field appearance="outline">
            <mat-label>Select aspect ratio</mat-label>
            <mat-select [(ngModel)]="aspectRatio" name="aspectRatio">
              <mat-option *ngFor="let option of aspectRatioOptions" [value]="option">{{option}}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>


<div class="demo-view">
  <ngx-aspect-ratio [aspectRatio]="aspectRatio">
    <div class="aspect-ratio-content">
      {{aspectRatio}}
    </div>
  </ngx-aspect-ratio>
</div>

